.container-fluid {
    min-height: 100vh;
}

.row {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.supportive-img {
    width: 100%;
    height: 100%;
}

.darkmode-div {
    /* float: left; */
    width: 95%;
    display: flex;
    justify-content: right;
    /* margin-left: 50px; */
    /* position: absolute; */
    /* top: 3%;
    right: 3%; */
    /* margin: l; */
    /* background-color: #08BCEB; */
    /* justify-content: flex-start; */
}

#darkmode-btn {
    border-radius: 5px;
    border-color: #08BCEB;
    background-color: white;

}

.darkmode-img {
    color: #08BCEB;

}


.right-col {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    /* width: 100vh; */
    /* background-color: aqua; */

}

.logo-img {
    /* mix-blend-mode: multiply; */
    /* margin-bottom: 3vh; */
}

.form-floating {
    width: 60%;
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    color: #08BCEB;
}

.input-icon {
    position: absolute;
    right: 1px;
    top: 1px;
    margin-top: 13px;
    margin-right: 10px;
    background-color: #fafafa;
    width: 30px;
    height: 70%;
}

.forgot-pw {
    color: #08BCEB;
    text-decoration: none;
}

.login-btn {
    background-color: #08BCEB;
    width: 60%;
}